@{
    ViewBag.Title = "About Centric Consulting";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>About Us</h2>
<p>Whether someone is a P&C carrier, a pharmaceutical researcher, a financial adviser or another industry leading organization, we deliver the industry expertise to help the world thrive.</p>
<p>Not only do the people at Centric Consulting serve as a model for consulting, but we have created a culture that values team unity and collaboration.</p>
<p>We enjoy working together, alongside clients, to create personalized solutions for any business and our values are key to our excellence.</p>
<br />
    <h2>Employee Recogniton System</h2>
    <p style="font-size:14px">@ViewBag.Message</p>
    <p>How it works: 1 recognition equals 1 Centric Star. Collect more stars to get bigger prizes!</p>
    @*<br />*@
<h2> Star Values:</h2>
    <div class="col-sm-12">
        <table class="table table-bordered">
            <tr>
                @*<th>
                    Centric Star Values
                </th>*@
                <th>
                5 Stars: 
                    <p>  </p>
                    Company apparel
                </th>
                <th>
                    10 Stars:
                    <p>  </p>
                    Lunch with the boss
                </th>
                <th>
                    15 Stars:
                    <p> </p>
                    Work-from-home day
                </th>
                <th>
                    20 Stars:
                    <p> </p>
                    2 hour time off coupon
                </th>
                <th>
                    25 Stars:
                    <p> </p>
                    Indoor food truck
                </th>
                <th>
                    30 Stars:
                    <p> </p>
                    $150 gift card
                </th>
                <th>
                    50 Stars:
                    <p> </p>
                    Sport tickets (Up to a $400 value)
                </th>
                <th>
                    100 Stars:
                    <p> </p>
                    Bonus/Raise
                </th>
            </tr>
        </table> </div>
