@{
    ViewBag.Title = "About Centric Consulting";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>About Us</h2>
<p>Whether someone is a P&C carrier, a pharmaceutical researcher, a financial adviser or another industry leading organization, we deliver the industry expertise to help the world thrive.</p>
<p>Not only do the people at Centric Consulting serve as a model for consulting, but they’ve created a culture that values team unity and collaboration.</p>
<p>We enjoy working together, alongside clients, to create personalized solutions for any business and our values are key to our excellence.</p>
<br />
<h2>Employee Recogniton System</h2>
<p style="font-size:14px">@ViewBag.Message</p>
<p>How it works: 1 recognition equals 10 Centric stars. Collect more stars to get bigger prizes!</p>
<br />
<p>Centric Star Values</p>
<p>25 Centric Starts = Company apparel</p>
<p>50 Centric Stars = Lunch with the boss</p>
<p>75 Centric Starts = Work-from-home day</p>
<p>100 Centric Stars = 2 hour time off coupon</p>
<p>125 Centric Stars = Indoor food truck</p>
<p>150 Centric Stars = $150 gift card</p>
<p>175 Centric Stars = Sport tickets (Up to a $500 value)</p>
<p>200 Centric Stars = Bonus/Raise</p>
