@{
    ViewBag.Title = "About Centric Consulting";
}

<div class="jumbotron" style="color: black">
    <h1>CENTRIC CONSULTING</h1>
    <p class="lead">We're a management consulting firm that guides you in the search for answers to complex digital, business and technology problems by asking tough questions, leading crucial conversations and blending our experts with yours.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="col-md-4">
    <p1>
        <a href="https://www.linkedin.com/company/centric-consulting/">
            <img src="~/Content/Images/linkedin.png" alt="LinkedIn Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://www.instagram.com/centricconsulting/?hl=en">
            <img src="~/Content/Images/insta.png" alt="Instagram Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://twitter.com/centric?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <img src="~/Content/Images/twitter.png" alt="Twitter Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://www.facebook.com/CentricConsultingNational/">
            <img src="~/Content/Images/facebook.png" alt="Facebook Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">
            <img src="~/Content/Images/youtube.png" alt="YouTube Logo" width="40" height="40" />
        </a>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Our Core Values</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Content/Images/Why-were-here_Delivery-excellence-300x200.jpg" alt="Deliver Excellence" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Deliver Excellence</h3>
                        <p>Deliver excellent results and improve processes</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/Why-were-here_Integrity-300x200.jpg" alt="Embrace Integrity and Openness" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Integrity and Openness</h3>
                        <p>To build trust with clients, embrace integrity and openness in all communicationst</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/Why-were-here_stewardship-300x200.jpg" alt="Practice Responsible Stewardship" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Stewardship</h3>
                        <p>Look out for our clients and act in their best interest</p>
                    </div>
                </div>


                <div class="item">
                    <img src="~/Content/Images/Why-were-here_Strive-to-innovate-300x200.jpg" alt="Strive to Innovate" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Innovation</h3>
                        <p>Find solutions in places where it seems like there aren’t any</p>
                    </div>
                </div>


                <div class="item">
                    <img src="~/Content/Images/Boston-community-300x200.jpg" alt="Ignite Passion for the Greater" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Greater Good</h3>
                        <p>Improve the world in which we live and preserve our environment for future generations</p>
                    </div>
                </div>


                <div class="item">
                    <img src="~/Content/Images/Why-were-here_Exceptional-culture-1200x536.jpg" alt="Invest in an Exceptional Culture" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Culture</h3>
                        <p>Hire and retain talented people from diverse backgrounds</p>
                    </div>
                </div>


                <div class="item">
                    <img src="~/Content/Images/Why-were-here_Balanced-life-300x200.jpg" alt="Live a Balanced Life" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Balance</h3>
                        <p>Maintain time outside of work, including relationships, family responsibilities, and other outside interests</p>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>

                </a>
            </div>
        </div>
        <p> </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/#:~:text=We%20value%20passion%2C%20determination%2C%20perseverance%2C%20and%20innovation.">Learn More! &raquo;</a></p>
</body>
</html>



