@{
    ViewBag.Title = "About Centric";
}

<div class="jumbotron">
    <h1>CENTRIC CONSULTING</h1>
    <p class="lead">We're a management consulting firm that guides you in the search for answers to complex digital, business and technology problems by asking tough questions, leading crucial conversations and blending our experts with yours.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="col-md-3">
    <p1>
        <a href="https://www.linkedin.com/company/centric-consulting/">
            <img src="~/Content/Images/linkedin.png" alt="LinkedIn Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://www.instagram.com/centricconsulting/?hl=en">
            <img src="~/Content/Images/insta.png" alt="Instagram Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://twitter.com/centric?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <img src="~/Content/Images/twitter.png" alt="Twitter Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://www.facebook.com/CentricConsultingNational/">
            <img src="~/Content/Images/facebook.png" alt="Facebook Logo" width="40" height="40" />
        </a>
    </p1>
    <p1>
        <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">
            <img src="~/Content/Images/youtube.png" alt="YouTube Logo" width="40" height="40" />
        </a>
</div>
<div class="col-md-4">
    <h2>Core Values</h2>
    <p1>Delivery Excellence</p1>
    <p>Deliver excellent results and improve processes</p>
    <p1>Integrity and Openness</p1>
    <p>To build trust with clients, embrace integrity and openness in all communications</p>
    <p1>Stewardship</p1>
    <p>Look out for our clients and act in their best interest</p>
    <p1>Innovation</p1>
    <p>Find solutions in places where it seems like there aren’t any</p>
</div>
<div class="col-md-5">
    <p1>Greater Good</p1>
    <p>Improve the world in which we live and preserve our environment for future generations</p>
    <p1>Culture</p1>
    <p>Hire and retain talented people from diverse backgrounds</p>
    <p1>Balance</p1>
    <p>Maintaining time outside of work, including relationships, family responsibilities, and other outside interests</p>
    
    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/#:~:text=We%20value%20passion%2C%20determination%2C%20perseverance%2C%20and%20innovation.">Learn More! &raquo;</a></p>
</div>
